<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div id="main">
     <div id="cities">
        <button data-city="neyshabur">نیشابور</button>
        <button data-city="mashhad">مشهد</button>
        <button data-city="yazd">یزد</button>
        <button data-city="tehran">تهران</button>
     </div>
      <div id="data">
      </div>
    </div>
    <script src="/js/axios.js"></script>
    <script src="/js/scraper.js"></script>
  </body>
</html>
